<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(~{::body})}">
<head>
</head>
<body>
    <div class="container">
        <a th:href="@{/task}">戻る</a>
        <form acrion="" th:action="@{create}" th:method="post" th:object="${taskForm}">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
                <span th:errors="*{title}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}">
                <span th:errors="*{description}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                <input type="date" class="form-control" id="deadline" name="deadline" th:field="*{deadline}">
                <span th:errors="*{deadline}" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>