<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(~{::body})}">
<head>
</head>
<body>
    <div>
        <a href="create.html" th:href="@{task/create}">タスク追加</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${taskList}">
                <th scope="row" th:text="${task.id}">id</th>
                <td th:text="${task.title}">タイトル</td>
                <td th:text="${task.description}"}>説明</td>
                <td th:text="${#dates.format(task.deadline, 'yyyy/MM/dd')}">期限日</td>
                <td>
                    <a th:href="@{/task/{id}(id=${task.id})}">詳細</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>