<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layout(~{::body})}">
<head>
</head>
<body>
    <div class="container">
        <a href="index.html" th:href="@{/task}">ホームに戻る</a>
        <div>
            <div class="mb-3">
                <label>Title</label>
                <div th:text="${task.title}">title</div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <div th:text="${task.description}">description</div>
            </div>
            <div class="mb-3">
                <label>Deadline</label>
                <div th:text="${#dates.format(task.deadline, 'yyyy/MM/dd')}">deadline</div>
            </div>
            <div>
                <a th:href="@{/task/{id}/edit(id=${task.id})}" class="btn btn-primary">編集</a>
                <form th:action="@{/task/{id}/delete(id=${task.id})}" th:method="post" onsubmit="return delete_check()">
                    <button type="submit" class="btn btn-danger">削除</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function delete_check(){
            return confirm("削除してもよろしいですか");
        }
    </script>
</body>
</html>